body {
    font-family: "Roboto", sans-serif;
}

.sect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sect__div {
    width: 100px;
    height: 100px;
}

.sect__div[data-bandeira="on"] {
    background: url(../img/1.png);
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
}

.sect__div[data-bandeira="off"] {
    background: url(../img/2.png);
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
}

.h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.numero__input {
    display: none;
}